/*
  Project Name: Resource
  Project URL: https://app.zeplin.io/project/5cdd5bea87e3311d5ce03030/screen/5cdd5c8b1ba88b1def39b2fd
  Open With: Zepline.io
  By: Extrainteger
  For : Rahmat Kurniawan
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.landing-satu {
    background-image: url('../img/homepage.jpg');
    background-size: cover;
}

.landing-satu .Search {
    margin-top: 30px;
    margin-right: 250px;
}

.landing-satu .Logo {
    margin-top: 30px;
    margin-right: 250px;
}

.landing-satu .Menu {
    margin-top: 30px;
}

.landing-satu .title {
    text-align: center;
}

.landing-satu .title p {
    margin-top: 130px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: #ffffff;
}

.landing-satu .title h1 {
    font-family: Georgia;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: -1px;
    color: #ffffff;
}

.landing-satu .title .button {
    margin-top: 50px;
}

.landing-satu .title .button .button-satu {
    margin-right: 20px;
    /* opacity: 0.17; */
    border-radius: 5px;
    border: solid 2px #ffffff;
    background-color: rgba(250, 240, 240, 0.46);
}

.landing-satu .title .button .button-satu img {
    margin-bottom: 4px;
    margin-right: 10px;
    object-fit: contain;
}

.landing-satu .title .mouse {
    margin-top: 160px;
    margin-bottom: 20px; 
}

.landing-dua {
    margin-bottom: 119.6px;
}

.landing-dua .title {
    text-align: center;
}

.landing-dua .title p {
    margin-top: 119.7px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: #989898;
}

.landing-dua .title h1 {
    padding: 0 150px;
    font-family: Georgia;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.5px;
    color: red;
}

.landing-dua .menu {
    text-align: center;
    margin-top: 90px;
}

.landing-dua .menu .tengah {
    color: aqua;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.landing-dua .menu img.gambar-satu {
    margin-left: 330px;
}

.landing-dua .menu img.gambar-dua {
    margin-left: 145px;
}

.landing-dua .menu .jarak {
    margin-top: 30px;
}

.landing-dua .menu h5 {
    font-family: Georgia;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: -0.4px;
    color: #323c47;
}

.landing-dua .menu h5.text-innovative {
    margin-right: 15px;
}

.landing-dua .menu h5.text-creative {
    margin-right: 30px;
}

.landing-dua .menu p {
    width: 209px;
    height: 98px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.73;
    letter-spacing: normal;
    margin-left: 48px;
    text-align: left;
    color: #989898;
}

.landing-tiga p {
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #989898;
}

.landing-tiga h6 {
    font-family: Georgia;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.5px;
    text-align: center;
    color: #313c47;
    padding: 0 50px;
}

.landing-tiga .konten-satu {
    margin-top: 60px;
}

.landing-tiga .konten-dua {
    margin-top: 20px;
    margin-bottom: 58.9px;
}

.landing-tiga .batas-konten {
    margin-top: 20px;
}

.landing-tiga img.gambar-satu {
    width: 100%;
    height: 315px;
}

.landing-tiga img.gambar-dua {
    width: 100%;
    height: auto;
}

.landing-tiga img.gambar-tiga {
    width: 100%;
    height: auto;
}

.landing-tiga img.gambar-empat {
    width: 100%;
    height: auto;
}

.landing-tiga .wrapper-tombol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.4;
    border-radius: 5px;
    border: solid 2px #585e66;
    padding: 5px;
    margin-bottom: 92.6px;
}

.landing-tiga .wrapper-tombol .tombol {
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 0.5px;
    text-align: left;
    color: black;
    margin: 0;
    padding: 0;
}

.landing-empat {
    margin-bottom: 40px;
}

.landing-empat p {
    margin-top: 121.7px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.4px;
    text-align: center;
    color: #989898;
}

.landing-empat h5 {
    font-family: Georgia;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.5px;
    text-align: center;
    color: #313c47;
    padding: 0 80px;
}

.landing-empat .slider {
    margin-top: 70px;
}

.landing-empat .slider-content {
    text-align: center;
}

.landing-empat .slider-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.landing-empat .batas-atas {
    margin-top: 90px;
}

.landing-empat .quote {
    margin-top: 60px;
    font-family: Georgia;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #242526;
}

.landing-empat .name {
    margin-top: 32px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: 0.5px;
    color: #242526;
}

.landing-empat .title {
    margin-top: 5px;
    margin-bottom: 120px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #747474;
}

.landing-lima {
    background-image: url('../img/image2_2019-05-17/image2.png');
    height: 768px;
}

.landing-enam .row {
    margin-top: 158px;
    margin-bottom: 157px;
}

.landing-enam h5 {
    font-family: Georgia;
    font-size: 32px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.5px;
    text-align: center;
    color: #313c47;
    margin-top: 45px;
}

.landing-enam p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #989898;
}

.landing-enam .kotak {
    border-radius: 5px;
    border: solid 1px #e9eff4;
    background-color: #fafbfc;
    padding: 10px;
}

.landing-enam .kotak .nomor {
    border: solid 1px #e9eff4;
    background-color: #fafbfc;
    padding: 5px;
    border-radius: 70px;
}

.landing-enam .luar-kotak {
    margin-top: 20px;
}

.landing-enam .luar-kotak .nomor {
    border: solid 1px #e9eff4;
    background-color: #fafbfc;
    padding: 5px;
    margin-left: 10px;
    border-radius: 100px;
}

.landing-enam .kotak .tags {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #56a2fd;
    padding: 8px;
}

.landing-enam .luar-kotak .tags {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #323c47;
    padding: 8px;
}

.landing-tujuh {
    background-color: #1b8bf9;
    height: 280px;
}

.landing-tujuh h5 {
    font-family: Georgia;
    font-size: 41px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
}

.landing-tujuh p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
    padding: 0 130px;
}

.landing-tujuh .order {
    margin-top: 30px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer .footer-link {
    margin: 0 20px;
    margin-top: 10px;
}

footer .footer-link a {
    padding: 14px 5px;
    text-decoration: none;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.5px;
    color: #323c47;
}

footer .footer-link a:hover {
    
    text-decoration: none;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.5px;
    color: red;
}

footer .footer-sosmed {
    margin: 0 20px;
    margin-top: 5px;
    display: flex;
}

footer .footer-sosmed .icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    color: black;
}

footer .footer-sosmed .icon a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border: 1px solid #d3dadf;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    color: #d3dadf;
}




/* .landing-tujuh .tombol {
    border-radius: 60px;
    background-color: #ffffff;
    color: black;
}

.landing-tujuh input.inputan {
    opacity: 0.3;
    border-radius: 4px;
    background-color:red;
} */

/* ini latihan */
/* footer .cr {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    color: aqua;
    background-color: #989898;
    border: 1px solid black;
}

footer .cr p {
    margin-bottom: 0;
}

footer .company-name h5 {
    font-size: 30px;
    color: red;
    text-align: center;
}

footer .company-name p {
    font-weight: bold;
    color: green;
    text-align: center
}

footer .company-name img {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer .company-name {
    margin-bottom: 30px;
}

.list-wrapper, .bottom-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.link-bottom-image, .list {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.link-bottom-list {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
} */